<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <title>Restaurant</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Restaurant</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto col-6 justify-content-start">
                <li class="nav-item" sec:authorize="isAuthenticated()"
                    th:if="${#authentication.principal.tableView == null}">
                    <a class="nav-link" th:href="@{/table/register}">Маса</a>
                </li>
                <li sec:authorize="isAuthenticated()" th:if="${#authentication.principal.tableView != null}"
                    class="nav-item">
                    <a class="nav-link" th:href="@{/orders}"
                       th:text="${'Маса №' + #authentication.principal.tableView.number  + ' ' + #authentication.principal.tableView.description}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/menu}">Меню</a>
                </li>

            </ul>
            <ul class="navbar-nav mr-auto col-6 justify-content-end">
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/users/logout}" th:method="post">
                        <input class="nav-link btn" type="submit" value="Изход">
                    </form>
                </li>
                <li class="nav-item float-end" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/login}">Влез</a>
                </li>
                <li class="nav-item float-end" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/register}">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>