body {
    background-image: url('/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #823305;
    overflow: overlay;
}

form.main-form, .rounded-back {
    padding:10px 30px;
    border-radius: 20px;
}

.no-underline{
    text-decoration: none !important;
}

.card {
    min-height: 50vh;
}

.list-group {
    max-height: 70vh;
    margin-bottom: 0;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    position: absolute;
    width: 5px;
}

::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}