<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments::head"></head>
<body>
<nav th:replace="fragments/fragments::navbar"></nav>
<div class="row px-3">
    <div class="col-lg-4"></div>
    <div class="col-lg-3 mt-3" sec:authorize="isAuthenticated() && hasRole('MANAGER')">
        <div class="card rounded-back bg-dark pt-4">
            <div class="card-body">
                <form th:object="${editItemBindingModel}" th:action="@{/manager/item/{id}/edit(id=*{id})}"
                      th:method="patch">

                    <div>
                        <label class="text-light" for="categoryId">Категория</label>
                        <select class="form-select mt-3" id="categoryId"
                                th:errorclass="is-invalid"
                                th:field="*{categoryId}">
                            <option
                                    th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Такава категория не съществува!
                        </div>
                    </div>


                    <div class="form-floating mt-3">
                        <input th:field="*{imageUrl}"
                               th:errorclass="is-invalid"
                               name="imageUrl"
                               id="imageUrl"
                               class="form-control"
                               placeholder="Снимка"
                               type="url"
                               required="required">
                        <label for="imageUrl">Снимка</label>
                        <div class="invalid-feedback">
                            Това трябва да е адрес на снимка!
                        </div>
                    </div>


                    <div class="form-floating mt-3">
                        <input th:field="*{name}"
                               th:errorclass="is-invalid"
                               name="itemName"
                               id="itemName"
                               class="form-control"
                               type="text"
                               placeholder="Име"
                               required="required"
                               minlength="3"
                               maxlength="30">
                        <label for="itemName">Име</label>
                        <div class="invalid-feedback">
                            Името трябва да е между 4 и 20 символа!
                        </div>
                    </div>

                    <div class="form-floating mt-3">
                        <input th:field="*{price}"
                               th:errorclass="is-invalid"
                               name="itemPrice"
                               id="itemPrice"
                               class="form-control"
                               type="number"
                               placeholder="Цена"
                               required="required"
                               step=".01"
                               min="0">
                        <label for="itemPrice">Цена</label>
                        <div class="invalid-feedback">
                            Цената е задължителна!
                        </div>
                    </div>

                    <div class="form-floating mt-3">
                                <textarea th:field="*{description}"
                                          th:errorclass="is-invalid"
                                          name="itemDescription"
                                          class="form-control"
                                          placeholder="Описание"
                                          id="itemDescription"
                                          style="height: 100px"
                                          minlength="10"
                                          required="required"
                                ></textarea>
                        <label for="itemDescription">Описание</label>
                        <div class="invalid-feedback">
                            Описанието трябва да е минимум 10 знака!
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary mt-3" value="Запази">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>