<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/fragments::head"></head>
<body>
<nav th:replace="fragments/fragments::navbar"></nav>
<div class="container text-center">

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-lg-3" th:object="${occupyBindingModel}">
            <form class="bg-dark main-form mt-5" th:action="@{/table/occupy}" th:method="post">
                <h5 class="text-light">Occupy a table</h5>
                <div class="form-group mb-3">
                    <select class="form-control" th:errorclass="is-invalid" th:field="*{number}">
                        <option value="0">Please chose a table</option>
                        <option th:each="table : ${freeTables}" th:value="${table.number}"
                                th:text="${'№ ' + table.number + ' - ' + table.description}"></option>
                    </select>
                    <small class="text-danger invalid-feedback">Table already occupied!</small>
                </div>
                <button type="submit" class="btn btn-primary">Occupy</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-lg-3" th:object="${joinBindingModel}">
            <form class="bg-dark main-form mt-5" th:action="@{/table/join}" th:method="post">
                <h5 class="text-light">Join a table</h5>
                <div class="form-group mb-3">
                    <select class="form-control" th:field="*{number}">
                        <option value="0">Please chose a table</option>
                        <option th:each="table : ${occupiedTables}" th:value="${table.number}"
                                th:text="${'№ ' + table.number + ' ' + table.description}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Join</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>
</body>
</html>